body
	&:before
		content: ''
		position: fixed
		top: 0
		left: 0
		width: 100vw
		height: 100vh
		background-image: url(https://picsum.photos/1920/1080)
		z-index: -1
section
	&:nth-of-type(n+2)
		margin-top: 300px
h1
	background-color: #fff
p
	background-color: #fff
	font-size: 1.6rem