.container
	display grid
	grid-template-columns: 240px 1fr
	width 1100px
	margin 0 auto
.side
	background-color darkred
	height 100vh
	grid-column 1
.main
	background-color steelblue
	height 100vh
	grid-column 2
