.p-form
	display: flex
	max-width: 1000px
	width: 95%
	margin: 0 auto
	padding-bottom: 2em
	&__input
		border-style: solid
		border-width: 1px
		border-color: #ced4da
		border-radius: 5px
		min-height: 40px
		padding: .6rem .8rem
		font-size: 1rem
		width: 100%
	&__btn
		height: 40px
		width: 40px
		display: flex
		justify-content: center
		align-items: center
		font-size: .8rem
		color: #fff
		background-color: #4a2881
		border-radius: 0 5px 5px 0
		border: none
