.p-suggest
	&__container
		position: relative
		margin-left: 20px
	&__result
		background: #fff
		border: 1px solid #D9D9D9
		box-shadow: 0 2px 0 0 rgba(0, 0, 0, .05)
		margin-top: -1px
		position: absolute
		top: 40px
		left: 0
		width: 100%
		&__item
			padding: 10px
			list-style none
			cursor pointer
			color: #333
			font-size: 1.2rem
			&.is-select
				background-color: #F0F0F0