meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
link(rel="apple-touch-icon" sizes="57x57" href="https://smartshoki.jp/image/apple-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href="https://smartshoki.jp/image/apple-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href="https://smartshoki.jp/image/apple-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="https://smartshoki.jp/image/apple-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="https://smartshoki.jp/image/apple-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="https://smartshoki.jp/image/apple-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="https://smartshoki.jp/image/apple-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="https://smartshoki.jp/image/apple-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href="https://smartshoki.jp/image/apple-icon-180x180.png")
link(rel="icon" type="image/png" sizes="192x192" href="https://smartshoki.jp/image/android-icon-192x192.png")
link(rel="icon" type="image/png" sizes="32x32" href="https://smartshoki.jp/image/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="96x96" href="https://smartshoki.jp/image/favicon-96x96.png")
link(rel="icon" type="image/png" sizes="16x16" href="https://smartshoki.jp/image/favicon-16x16.png")
title よくあるご質問（FAQ） | 音声自動文字起こしサービス「Smart書記」
meta(name="description" content="音声自動文字起こしサービス「Smart書記」に関するお問い合わせやよくあるご質問（FAQ）はこちら")
meta(property="og:url" content="https://smartshoki.jp/faq")
meta(property="og:title" content="よくあるご質問（FAQ） | 音声自動文字起こしサービス「Smart書記」")
meta(property="og:type" content="website")
meta(property="og:description" content="音声自動文字起こしサービス「Smart書記」に関するお問い合わせやよくあるご質問（FAQ）はこちら")
meta(property="og:image" content="https://smartshoki.jp/image/og_img01.png")
meta(property="og:locale" content="ja_JP")
link(href="./css/app.css" rel="stylesheet" type="text/css")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")