-
	var domain = './'
	var imgSrc = './img/'
	var description = 'foo'
	var keywords = 'foo'
	var title = 'foo'
	var date = +new Date()

doctype html
html(lang='ja')
	head
		include include/_meta
		include include/_title
		include include/_css
	body
		.l-main
			label.p-form__label(for="email") ✉️ Email
			.p-suggest__container
				input.p-form__input#email(autocomplete='off' type='email' data-trigger-suggest)
				ul.p-suggest__result#auto-list(style='display:none;' data-target-suggest)
		include include/_js