-
	var domain = './'
	var imgSrc = './img/'
	var description = 'foo'
	var keywords = 'foo'
	var title = 'foo'
	var date = +new Date()

doctype html
html(lang='ja')
	head
		include include/_meta
		include include/_ogp
		include include/_title
		include include/_css
	body
		#one.page
			p 最初の画面
			.btn__wrap
				button.btn(data-hash="two") お申込み前の方はこちら
				button.btn(data-hash="three") お申し込み後の方はこちら
		#two.page
			p お申込み前の方用画面
			.btn__wrap
				button.btn(data-hash="one") 戻る
		#three.page
			p お申込み後の方用画面
			.btn__wrap
				button.btn(data-hash="one") 戻る
		include include/_js