-
	var domain = './'
	var imgSrc = './img/'
	var description = 'foo'
	var keywords = 'foo'
	var title = 'foo'
	var date = +new Date()

doctype html
html(lang='ja')
	head
		include include/_meta
		include include/_ogp
		include include/_title
		include include/_css
	body(data-target)
		.input__wrap
			input(type="text")
		- for(var i = 0; i < 1000; i++)
			p Hello,World!
		include include/_js