-
	var domain = './'
	var imgSrc = './img/'
	var description = 'foo'
	var keywords = 'foo'
	var title = 'foo'
	var date = +new Date()

doctype html
html(lang='ja')
	head
		include include/_meta
		include include/_ogp
		include include/_title
		include include/_css
	body
		//jsで表示
		#result
		//pugで配列の入れ子は表示できない
		// each item, index in data
		// 	ul
		// 		li #{item.nestList[index].nestContent}
		include include/_js