-
	var domain = './'
	var imgSrc = './img/'
	var description = 'foo'
	var keywords = 'foo'
	var title = 'foo'
	var date = +new Date()

doctype html
html(lang='ja')
	head
		include include/_meta
		include include/_ogp
		include include/_title
		include include/_css
	body
		.container
			.trigger
				p.point ex1
				p.target.hidden abcdefgh
			.trigger
				p.point ex2
				p.target.hidden ijklmnop
			.trigger
				p.point ex3
				p.target.hidden qrstuvwx

		include include/_js