-
	var domain = './'
	var imgSrc = './img/'
	var description = 'foo'
	var keywords = 'foo'
	var title = 'foo'
	var date = +new Date()

doctype html
html(lang='ja')
	head
		include include/_meta
		include include/_ogp
		include include/_title
		include include/_css
	body
		.wrap
			p Email address
			#placement
				input#email(autocomplete='off' type='email')
				ul#auto-list(style='display:none;')
		include include/_js